.inicio {
    background: #202533;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.inicio_nav {
    display: flex;
    margin: 2em 0;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 1em;
    figure {
        margin: 0 2em;
    }
    ul {
        display: flex;
        li {
            margin: 0 1em;
        }
        a {
            color: white;
            padding: 0.3em;
        }
    }
}

.inicio_cabesera {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 0 0 12.8em;
    .inicio_rem {}
    h1 {
        font-size: 3em;
        font-weight: 800;
    }
    p {
        font-weight: lighter;
        margin: 1em 0;
    }
    a {
        display: inline-table;
        margin: 0.5em 0 0 0;
        padding: 1em 4em;
        border: 1px solid White;
        color: white;
        border-radius: 10px;
    }
}